[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
fire = "*"
currencyconverter = "*"
dataclasses = "*"
python-slugify = "*"
redis = "*"
flask = "*"
flask-wtf = "*"
flask-cors = "*"
"psycopg2" = "*"
black = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
